<html xmlns:th="http://www.thymeleaf.org">


<html>
<head><title>Login</title></head>
<body>


<h1>Login</h1>


<h3>Choisir un mot de passe et un nom de compte:</h3>

<form name='' action="" method='POST'>
    <table>
        <tr>
            <td>utilisateur :</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>