<html xmlns:th="http://www.thymeleaf.org">
    <div>
        <h1>Sign Up</h1>
    </div>


    <form action="#" th:action="@{/process_register}" th:method="post" th:object="${user}">
        <label for="name">Nom</label>
        <input id="name" name="name" type="text" placeholder="Nom de la commande" th:field="*{name}"/>

        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Nom de la commande" th:field="*{password}"/>


        <input type="submit" value="Ajouter"/>
    </form>

</html>