<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail de la commande</title>
</head>
<body>
    <h1 th:utext="'Détail de la commande ' + ${order.name}"></h1>

    <ul>
        <li><b>Nom : </b><span th:utext="${order.name}"></span></li>
        <li><b>Client : </b><span th:utext="${order.customer.name}"></span></li>
        <li>
            <b>Articles : </b>
            <ul th:each="item : ${order.items}">
                <li th:utext="${item.name}"></li>
            </ul>
        </li>
    </ul>

    <a th:href="@{http://localhost:8082/{userId}/home(userId=${order.customer.id})}">Retour à la liste des commandes</a>

</body>
</html>